@font-face {
  font-family: "Gilmer"; /*Can be any text*/
  src: local("GilmerMedium"), url("/Gilmer/GilmerMedium.otf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Gilmer, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.shop-one {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

.collapse {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 400px;
  font-size: 1.5rem;
}

.collapse-mobile {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 400px;
  font-size: 1.5rem;
}

.mobile-button {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 400px;
  font-size: 1.5rem;
}

.clean {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.clean-text {
  z-index: 10;
  position: absolute;
  left: 88%;
  top: 120%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: black;
}
.iphone-one {
  position: absolute;
  float: right;
  top: 0;
  right: 1%;
  z-index: 0;
  object-fit: scale-down;
  height: 100%;
}

.web3 {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-align: end;
  font-family: Gilmer;
  z-index: 3;
  background-color: white;
  opacity: 0.9;
  color: #ca67fb;
  padding: 20px;
}

.mobile {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-align: end;
  font-family: Gilmer;
  z-index: 3;
  background-color: white;
  opacity: 0.9;
  color: #ca67fb;
  padding: 20px;
}

.misc {
  position: absolute;
  bottom: 0;
}

.misc-text {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  z-index: 3;
  font-size: 7em;
  text-shadow: 5px 5px #ca67fb;
  line-height: 85%;
  color: white;
}

.lets {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.email {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}

.vercel {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (max-device-width: 1400px) {
  .clean-text {
    font-size: 2.5rem;
    margin-top: 30px;
  }
  .misc-text {
    top: 70%;
  }
}

@media (max-device-width: 812px) {
  .icons {
  }
  .clean-text {
    font-size: 2rem;
    margin-top: 70px;
  }
  .shop-one {
  }

  .web3 {
    font-size: 3rem;
  }

  .mobile {
    font-size: 3rem;
  }

  .misc {
  }
  .misc-text {
    font-size: 5em;
    text-shadow: 5px 5px #ca67fb;
    line-height: 85%;
  }
  .lets {
    font-size: 3rem;
    color: white;
  }
  .iphone-one {
    top: 20%;
  }
  .email {
    font-size: 1rem;
    color: white;
  }
  .vercel {
    font-size: 1rem;
    color: white;
  }
  .collapse {
    width: 100%;
  }
  .collapse-mobile {
    width: 100%;
  }
}

@media (max-device-width: 440px) {
  .clean-text {
    font-size: 1.5rem;
    margin-top: 85px;
  }
  .web3 {
    font-size: 3rem;
    top: 48%;
  }
  .icons {
    display: none;
  }
  .iphone-one {
    top: 0%;
  }
  .misc-text {
    top: 68%;
  }
}
